doctype html
html
  head
    title Today I Learned...
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    div#container(class='container')
      h1 today i learned
      div#reactContent
    script(src='/javascripts/bundle.js')